<?php
$CONFIG = array (
  'log_type' => '{{owncloud_log_backend}}',
  'log_rotate_size' => '{{owncloud_log_rotate_size}}',
  'loglevel' => '{{owncloud_log_level}}',
  'logtimezone' => '{{owncloud_log_timezone}}'
);
